caco-v
arquivo-nao-publicado.txt
vivo-morto.txt.txt
arquivo-nao-publicado.txt.txt
.gitignore.txt
sorvete-mg.txtsorvete-mg.txt
sapato-g.txt
nascimento-m.txt
atualizaço-urgente

exit
clear
echo atualização-urgente.txt
atualizacao-urgente.txt
Sophi-manu.txt
